<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922511656456-da49hug54dkesaog9gi8bfnq36l0pjp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922511656456-da49hug54dkesaog9gi8bfnq36l0pjp3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922511656456-e4i4svr51osmu1v88maq357rjsua8buv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDY7LysokXSJhZU45sDkEHS5gJhw-IaDQY</string>
	<key>GCM_SENDER_ID</key>
	<string>922511656456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.divocak.letbike</string>
	<key>PROJECT_ID</key>
	<string>letbike-a7457</string>
	<key>STORAGE_BUCKET</key>
	<string>letbike-a7457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922511656456:ios:8a5f7e56741663d0a573bd</string>
</dict>
</plist>